* {
    box-sizing: border-box;
}

body {
    --bGColor1: #7d52a8;
    --bGColor2: white;
    --fontColor1: #7d52a8;

    background-color: var(--bGColor1);
    
    font-family: 'Montserrat';
}

#main {
    background-color: var(--bGColor1);
    padding: 2%;
}

.container {
    background-color: var(--bGColor2);
    padding: 1% 5% 1% 5%;
    margin-top: 2%;
    border-radius: 4px;
}

#header-container {
    display: flex;
    justify-content: center;
}

#nav-container {
    /* margin: 1%; */
}

#nav-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 25%;
    flex-wrap: wrap-reverse;
}

.nav-list-item {
    font-weight: bold;
}

.nav-list-item a:link {
    text-decoration: none;
    color: black;
}

.nav-list-item a:visited {
    text-decoration: none;
    color: black;
}

.nav-list-item a:hover {
    text-decoration: none;
    color: var(--fontColor1);
}

.nav-list-item a:active {
    text-decoration: underline;
    font-weight: bold;
}

#name-brand {
    color: var(--fontColor1);
    font-weight: bold;
}

h3 {
    color: grey;
    font-family: 'Montserrat';
}
